body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "KZAmour";
  src: url("../public/fonts/KZ_Mon_Amour_One.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: "KZMon";
  src: url("../public/fonts/1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KZRosaMarena";
  src: url("../public/fonts/KZ_Rosa_Marena.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CustomFont";
  src: url("../public/fonts/1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "justanotherfont";
  src: url("../public/fonts/2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
